<div class="col-xl">
	<h2>Mes appareils</h2>
	<p>Mis à jour : {{ lastUpdate | async | date: 'short' }}</p>
	<ul class="list-group">
	  <app-appareil 
		*ngFor="let appareil of appareils; let i = index" 
		[indexOfAppareil]="i"
		[appareilName]="appareil.name" 
		[appareilStatus]="appareil.status"></app-appareil>
	</ul>
	<button class="btn btn-success m-2" 
			(click)="onAllumer()">Tout allumer</button>
	<button class="btn btn-danger m-2"
			(click)="onEteindre()">Tout éteindre</button>
	<button class="btn btn-primary m-2"
			(click)="onSave()">Enregistrer</button>
	<button class="btn btn-primary m-2"
			(click)="onFetch()">Charger</button>
</div>
